<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.url == "/" %}{{ site.title }} · {{ site.tagline }}{% else %}{{ page.title }} · {{ site.title }}{% endif %}</title>
<meta name="description" content="{{ page.description | default: page.lede | default: site.description | strip_newlines | truncate: 160 }}">
<meta name="author" content="{{ site.author.name }}">
<link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">

<meta property="og:type" content="{% if page.layout == 'project' %}article{% else %}website{% endif %}">
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page.description | default: page.lede | default: site.description | strip_newlines | truncate: 160 }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:card" content="summary">
